*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    font-family: system-ui;
    
}

nav{
    background: black;
    height: 80px;
    width: 100%;
}

label.logo{
    float: left;
    color:white;
    font-size:50px;
    line-height: 80px;
    padding: 0px 100px;
    font-weight: bold;
    cursor: pointer;
}

.logo:hover{
    color: grey;
}


nav ul{
    float: left;
    margin: 20px;
    
}

nav ul li{
    display: inline-block;
    line-height: 40px;
    margin: 0px 20px;
    
}

nav ul li a{
    font-size: 30px;
    color: white;
}

nav ul li a:hover{
    color: grey;
}

.socialmedia{
    float: right;
    display: flex;
    
}

.icon{
    margin: 19px 10px;
    padding: 7px 7px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.icon:hover{
    color: grey;
}

.front{
    font-size: 40px;
    padding-top: 400px;
    padding-bottom: 500px;
    height:900px;
    color: white;
    background-color: black;
    background-image: url("../images/celestial-event-4k-1s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}


.front a button{
    background-color: black;
    border-color: black;
    color: white;
    border-radius: 5px;
    border-width: medium;
    padding: 10px 30px;
    margin-top: 100px;
    cursor: pointer;
    font-size: 30px;
   

}

.front a button:hover{
    background-color: purple;
}


.background{
    
    background: black;
    font-size: 24px;
}

.parallax_1{
    background: url("../images/saturn_wallpaper_6.jpg") right;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 50px;
    height: 800px;
    padding-left: 40px;
    padding-top: 120px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.parallax_1 p{
margin-top: 40px;
line-height: 40px;

}

.line_1 {
    height: 3px;
    width: 745px;
    background-color: white;
    margin-top: 20px;
}

.parallax_1 a button{
    
    border-color: white;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 100px;
    margin-left: 260px;
    cursor: pointer;
    font-size: 30px;
    border: solid;
}

.parallax_1 a button:hover{
    color: grey;
    
}

.parallax_2{
    background: url("../images/galilean_moons.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    text-align: left;
    padding-right: 100px;
    padding-top: 120px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.parallax_2 h1{
    margin-left: 980px;
    
}
.parallax_2 p{
    margin-top: 40px;
    line-height: 40px;
    margin-left: 980px;
    
}

.line_2 {
    height: 3px;
    width: 720px;
    background-color: white;
    margin-top: 20px;
    float: right;
    margin-right: 55px;
}

.parallax_2 a button{
    background-color: transparent;
    border-color: white;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 100px;
    margin-left: 1240px;
    cursor: pointer;
    font-size: 30px;
    border: solid;
}

.parallax_2 a button:hover{
    color: grey;
    
}

.parallax_3{
    background: url("../images/icy_moons_1.jpg") no-repeat center left ;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    padding-left: 100px;
    padding-top: 120px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.parallax_3 p{
    margin-top: 40px;
    line-height: 40px;
    
}

.line_3 {
    height: 3px;
    width: 800px;
    background-color: white;
    margin-top: 20px;
}

.parallax_3 a button{
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 100px;
    margin-left: 275px;
    cursor: pointer;
    font-size: 30px;
    border: solid;
}

.parallax_3 a button:hover{
    color: grey;
    
}

.lorem{
    height: 1000px;
    background-color: black;
    padding: 100px 100px;
}